html {
    font-family: 'Courier New', 'Times New Roman', 'sans-serif';
    font-size: 24px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: rgb(12, 84, 129);
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 2%;
}

.back {
    background-color: whitesmoke;
    width: 98%;
    margin: auto;
    margin-top: 2%;
}

.pic{
    display: block;
    margin: auto;
    padding: 25px;
}

.center-head {
    text-align: center;
}

.center-list {
    width: 900px;
    margin: auto;
}

.nutrition {
    background-color: gray;
    width: 400px;
    margin: auto;
    padding-bottom: 4px;
}

.facts {
    background-color: black;
    color: white;
}

.one {
    margin-bottom: 20px;
}